@import '_colors';
@import './_fonts';
@import '../settings';

@import 'compass';
// @import 'compass/css/user-interface';
// TODO: make ignored imports configurable by setting exact name or pattern

body {
    background: $bg-color;
    color: $default-color;
    font-family: $base-font;
    font-size: $base-font-size;
    @include box-sizing(border-box);
}